name: '{{ project_name }}'
version: '1.0.0'
config-version: 2

profile: '{{ project_name }}'

model-paths: ["models"]
analysis-paths: ["analyses"]
test-paths: ["tests"]
seed-paths: ["seeds"]
macro-paths: ["macros"]
snapshot-paths: ["snapshots"]

clean-targets:
  - "target"
  - "dbt_packages"

models:
  {{ project_name }}:
    # Applies to all files under models/
    +materialized: table
    +tags:
      - '{{ project_name }}'
    
    # Layer specific configs
{% if archi == 'medallion' %}
    bronze:
      +materialized: view
      +tags: ['bronze']
    silver:
      +materialized: table
      +tags: ['silver']
    gold:
      +materialized: table
      +tags: ['gold']
{% elif archi == 'star' %}
    raw:
      +materialized: view
      +tags: ['raw']
    dim:
      +materialized: table
      +tags: ['dim']
    fact:
      +materialized: table
      +tags: ['fact']
{% else %}
    stg:
      +materialized: view
      +tags: ['staging']
    int:
      +materialized: table
      +tags: ['intermediate']
    mart:
      +materialized: table
      +tags: ['mart']
{% endif %}
