from sqlalchemy.orm import Session
from typing import Optional
from {{ project_name }}.entity.{{ entity_name_lower }} import {{ entity_name }}
from {{ project_name }}.schema.{{ entity_name_lower }} import {{ entity_name }}Create, {{ entity_name }}Update

# Extra functions for {{ entity_name }} will be added here
