{{ project_name }}:
  target: dev
  outputs:
    dev:
{% if connector == 'snowflake' %}
      type: snowflake
      account: "{{ '{{ env_var(\"SNOWFLAKE_ACCOUNT\") }}' }}"
      user: "{{ '{{ env_var(\"SNOWFLAKE_USER\") }}' }}"
      password: "{{ '{{ env_var(\"SNOWFLAKE_PASSWORD\") }}' }}"
      role: "{{ '{{ env_var(\"SNOWFLAKE_ROLE\") }}' }}"
      database: "{{ '{{ env_var(\"SNOWFLAKE_DATABASE\") }}' }}"
      warehouse: "{{ '{{ env_var(\"SNOWFLAKE_WAREHOUSE\") }}' }}"
      schema: dev
      threads: 4
      client_session_keep_alive: False
{% elif connector == 'bigquery' %}
      type: bigquery
      method: service-account
      project: "{{ '{{ env_var(\"BQ_PROJECT\") }}' }}"
      dataset: dev
      threads: 4
      keyfile: "{{ '{{ env_var(\"BQ_KEYFILE\") }}' }}"
{% elif connector == 'postgres' %}
      type: postgres
      host: localhost
      user: postgres
      password: password
      port: 5432
      dbname: dbt_db
      schema: dev
      threads: 4
{% else %}
      type: duckdb
      path: '{{ project_name }}.duckdb'
      threads: 4
{% endif %}
