from {{ project_name|lower }}.data.actions import make_crud_action, handle_file
from {{ project_name|lower }}.utils.controller import from_model_to_dict, serialize_model
from fastapi import UploadFile

class Entity:
    
    def __init__(self, model_name: str, db=None, sql_model=None):
        self.__model_name = model_name
        self.__db = db
        self.__sql_model = sql_model
    
    def getModelName(self):
        return self.__model_name
    
    def setModelName(self, model_name):
        self.__model_name = model_name
    
{% if db == "mongodb" %}
    async def save(self, document=None):
        doc = document if document else from_model_to_dict(self)
        return await make_crud_action(self.__model_name, "insert_one", document=doc)
    
    async def saveAll(self, documents):
        return await make_crud_action(self.__model_name, "insert_many", documents=documents)

    async def update(self, filter=None, update=None):
        f = filter if filter else {"_id": getattr(self, "id", None)}
        u = update if update else from_model_to_dict(self)
        return await make_crud_action(self.__model_name, "update_one", filter=f, update={"$set": u})
    
    async def updateAll(self, filter, update):
        return await make_crud_action(self.__model_name, "update_many", filter=filter, update={"$set": update})
    
    async def pushUpdate(self, filter, update):
        return await make_crud_action(self.__model_name, "update_one", filter=filter, update={"$addToSet": update})
    
    async def pullUpdate(self, filter, update):
        return await make_crud_action(self.__model_name, "update_one", filter=filter, update={"$pull": update})
    
    async def delete(self, filter=None):
        f = filter if filter else {"_id": getattr(self, "id", None)}
        return await make_crud_action(self.__model_name, "delete_one", filter=f)
    
    async def purge(self, filter={}):
        return await make_crud_action(self.__model_name, "purge", filter=filter)
    
    async def getById(self, id):
        from bson.objectid import ObjectId
        result = await make_crud_action(self.__model_name, "find_one", filter={"_id": ObjectId(id)})
        return serialize_model(result) if result else None
    
    async def getAll(self):
        results = await make_crud_action(self.__model_name, "find_all")
        return [serialize_model(x) for x in results] if results else []
    
    async def getBy(self, filter):
        results = await make_crud_action(self.__model_name, "find_all", filter=filter)
        return [serialize_model(x) for x in results] if results else []

    async def deactivateAll(self):
        return await self.updateAll({'activate': True}, {'activate': False})
    
    ######### file
    async def getFileByName(self, name: str):
        return await handle_file("find_one", filename=name)
    
    async def getFileById(self, id):
        return await handle_file("find_one", id=id)
    
    async def newFile(self, file: UploadFile):
        file_content = await file.read()
        return await handle_file("insert_one", file=file, file_content=file_content)
    
    async def deleteFile(self, id):
        return await handle_file("delete_one", id=id)

{% else %}
    def setDb(self, db):
        self.__db = db
        if self.__db and self.__sql_model:
            try:
                # Automatically create the table if it doesn't exist
                self.__sql_model.__table__.create(self.__db.get_bind(), checkfirst=True)
            except Exception:
                pass

    def load(self, data):
        """Populate the entity's attributes from a dictionary or schema."""
        if hasattr(data, "model_dump"):
            data_dict = data.model_dump()
        elif isinstance(data, dict):
            data_dict = data
        else:
            data_dict = vars(data)
            
        for key, value in data_dict.items():
            if hasattr(self, key):
                setattr(self, key, value)

    def save(self, document=None):
        doc = document if document else from_model_to_dict(self)
        return make_crud_action(self.__db, self.__sql_model, "insert_one", document=doc)
    
    def saveAll(self, documents):
        return make_crud_action(self.__db, self.__sql_model, "insert_many", documents=documents)

    def update(self, filter=None, update=None):
        f = filter if filter else {"id": getattr(self, "id", None)}
        u = update if update else from_model_to_dict(self)
        return make_crud_action(self.__db, self.__sql_model, "update_one", filter=f, update={"$set": u})
    
    def updateAll(self, filter, update):
        return make_crud_action(self.__db, self.__sql_model, "update_many", filter=filter, update={"$set": update})
    
    def delete(self, filter=None):
        f = filter if filter else {"id": getattr(self, "id", None)}
        return make_crud_action(self.__db, self.__sql_model, "delete_one", filter=f)
    
    def purge(self, filter={}):
        return make_crud_action(self.__db, self.__sql_model, "purge", filter=filter)
    
    def getById(self, id):
        return make_crud_action(self.__db, self.__sql_model, "find_one", filter={"id": id})
    
    def getAll(self):
        return make_crud_action(self.__db, self.__sql_model, "find_all")
    
    def getBy(self, filter):
        return make_crud_action(self.__db, self.__sql_model, "find_all", filter=filter)
{% endif %}

    def to_json(self, model=None):
        m = model if model else self
        return serialize_model(from_model_to_dict(m))
    
    def setId(self, id):
        self.id = id
    
    def getId(self):
        return getattr(self, "id", None)
