{% if db == "mongodb" %}
from motor.motor_asyncio import AsyncIOMotorClient
from {{ project_name|lower }}.config import settings

class DataBase:
    client: AsyncIOMotorClient = None

async def connect_to_mongo():
    DataBase.client = AsyncIOMotorClient(settings.DATABASE_URL)

async def close_mongo_connection():
    if DataBase.client:
        DataBase.client.close()

async def get_db():
    database_name = settings.DATABASE_URL.split("/")[-1]
    return DataBase.client[database_name]
{% else %}
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from {{ project_name|lower }}.config import settings

engine = create_engine(settings.DATABASE_URL{% if db == "sqlite" %}, connect_args={"check_same_thread": False}{% endif %})
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)
Base = declarative_base()

def get_db():
    db = SessionLocal()
    try:
        yield db
    finally:
        db.close()
{% endif %}
